*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: rgb(255, 115, 0);
}
ul{
    display: flex;
    justify-content: center;
}
li{
    list-style-type: none;
    padding: 25px;

}
li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 30px;
}
li a:hover{
    background-color: white;
}